<head>
    <link rel="stylesheet" href="../static/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="header">
        <ul class="breadcrumbs">
            {% for breadcrumb, url in breadcrumbs %}
                <li class="breadcrumb">
                    {% if loop.first and loop.last %}
                        <a href="{{ url }}" class="breadcrumb-link">
                            <img src="../static/Icons/home-teal.svg" class="home">
                        </a>
                    {% elif loop.last %}
                        <span class="breadcrumb-link breadcrumb-last">{{ breadcrumb }}</span>
                    {% elif loop.first %}
                        <a href="{{ url }}" class="breadcrumb-link">
                            <img src="../static/Icons/home.svg" class="home" draggable="false">
                        </a>

                        <span class="slash">/</span>
                    {% else %}
                        <a href="{{ url }}" class="breadcrumb-link">{{ breadcrumb }}</a>

                        <span class="slash">/</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if not session.get("logged_in") %}
            <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=bes-w8tmmAylNkgxN-2OcvrRdOR-m5ooQ9ktrX6zaqs&redirect_uri=https://psych-sheet.vercel.app/auth&response_type=code&state={{ request.url }}" class="login-a">
                <button class="login-button">Login</button>
            </a>

        {% else %}
            <a href="{{ url_for('deauth', url=request.url) }}" class="logout">
                <button class="logout-button" onclick="spinner_animation()">Log Out</button>
            </a>

            <div class="spinner"></div>

            <img src="{{ session.get('pfp') }}" class="pfp" width="1" height="1" onclick="toggle_logout()" draggable="false">
        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        spinner_animation();
        document.addEventListener("DOMContentLoaded", function() {
            window.scrollTo(0, 0);
        });
        
        document.querySelector('.logout').style.display = 'none';
        
        function toggle_logout() {
            const logout = document.querySelector('.logout');
            
            if (logout.style.display === 'none') {
                logout.style.display = 'block';
            } else {
                logout.style.display = 'none';
            }
        }

        function spinner_animation() {
            document.querySelector('.spinner').style.display = 'block';
            document.querySelector('.pfp').style.display = 'none';
            document.querySelector('.logout').style.display = 'none';
        }

        document.addEventListener('click', function(event) {
            const logout = document.querySelector('.logout');
            const pfp = document.querySelector('.pfp');
            
            if (pfp && !pfp.contains(event.target) && !logout.contains(event.target)) {
                logout.style.display = 'none';
            }
        });

        function update_header_height() {
            const header = document.querySelector('.header');
            const header_height = header.offsetHeight;
            document.documentElement.style.setProperty('--header-topo', `${header_height}px`);
        }

        window.addEventListener('resize', update_header_height);
        window.addEventListener('load', update_header_height);
    </script>
</body>