{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/psych.css">
    <title>Psych Sheet</title>
{% endblock %}

{% block content %}

<h1 class="title title-comps">Psych Sheet</h1>

<div class="search-div">
    <input type="text" placeholder="Search Competitions" class="search" autocomplete="off">
</div>

<div class="search-box">
    <div class="search-results">
        <div class="comp-container"></div>
    </div>

    <div class="loading">
        <div class="loading-bar-container">
            <div class="loading-bar">
                <div class="loading-bar-inner"></div>
            </div>
        </div>
        <div class="comp-container loading-skeleton-comps-container">
            {% for i in range(5) %}
                <div class="comp-button">
                    <div class="flag skeleton"></div>
                    <div class="comp-button-text">
                        <div class="comp-name skeleton"></div>
                        <div class="comp-details-div">
                            <div class="comp-details skeleton comp-date"></div>
                            <div class="comp-details skeleton comp-city"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <h2 class="no-results">No Competitions Found</h2>
    <h2 class="no-more-comps">No More Competitions</h2>
</div>

<div class="comps-list">
    {% if your_comps %}
        <h1 class="comps-header">Your Competitions</h1>
        {% if your_comps == 'No Comps User' %}
            <h2 class="no-comps-user">You have no upcoming comps</h2>
        {% else %}
            <div class="comp-container">
                {% for comp in your_comps %}
                    <a href="{{ url_for('psych_sheet', comp=comp.id) }}">
                        <div class="comp-button">
                            <div class="flag">{{ comp.flag }}</div>
                            <div class="comp-button-text">
                                <p class="comp-name">{{ comp.name }}</p>
                                <p class="comp-details">{{ comp.date }} &mdash; {{ comp.city }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <h2>Or <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=bes-w8tmmAylNkgxN-2OcvrRdOR-m5ooQ9ktrX6zaqs&redirect_uri=https://psych-sheet.vercel.app/auth&response_type=code&state={{ request.url }}" class="login-button login-secondary">Login</a> To View Your Upcoming Comps</h2>
    {% endif %}
</div>

<script>
    let currentSearchQuery = "";

    let search_done_loading = false;

    let controller = null;
    
    function search(page) {
        if (search_done_loading) {
            return;
        }

        if (controller) {
            controller.abort();
        }

        controller = new AbortController();


        search_done_loading = true;

        document.querySelector('.search-box').style.display = 'block';
        document.querySelector('.loading').style.display = 'block';
        document.querySelector('.no-results').style.display = 'none';

        const query = document.querySelector('.search').value.trim();
        currentSearchQuery = query;

        document.querySelector('.no-more-comps').style.display = 'none';

        if (!query) {
            document.querySelector('.loading').style.display = 'none';
            document.querySelector('.search-results').style.display = 'none';
            document.querySelector('.search-box').style.display = 'none';
            search_done_loading = false;
            return;
        }
        
        const resultsDiv = document.querySelector('.search-results');

        fetch('/psych_sheet/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                'search': query,
                'page': page
            }),
            signal: controller.signal
        })
        .then(res => res.json())           
        .then(data => {
            if (query !== currentSearchQuery) {
                return;
            }
            
            if (Array.isArray(data) && data.length > 0) {
                const comps_html = data.map(comp => `
                    <a href="/psych_sheet/${comp.id}">
                        <div class="comp-button">
                            <div class="flag">${ comp.flag }</div>
                            <div class="comp-button-text">
                                <p class="comp-name">${comp.name}</p>
                                <p class="comp-details">${comp.date} &mdash; ${comp.city}</p>
                            </div>
                        </div>
                    </a>
                `).join("");
        

                resultsDiv.querySelector('.comp-container').innerHTML += comps_html;
                document.querySelector('.loading-skeleton-comps-container').style.display = 'none';
                document.querySelector('.search-results').style.display = 'block';

                search_done_loading = false;
                    
                twemoji.parse(document.body, {
                    folder: 'svg',
                    ext: '.svg'
                });
                

                page += 1
                document.querySelector('.loading-bar-container').style.display = 'block';
                search(page)
            } else {
                if (page === 1) {
                    document.querySelector('.no-results').style.display = 'block';
                    document.querySelector('.search-results').style.display = 'none';
                    document.querySelector('.no-more-comps').style.display = 'none';
                } else {
                    document.querySelector('.no-more-comps').style.display = 'block';
                    document.querySelector('.no-results').style.display = 'none';
                }

                search_done_loading = true;
                document.querySelector('.loading-bar-container').style.display = 'none';
                document.querySelector('.loading-skeleton-comps-container').style.display = 'none';
            }
        })
        .catch(error => {
            if (error.name === 'AbortError') {
                return;
            }
            
            search(page)
        });
    }

    let debounce_timeout;
    let lastValue = "";

    const input = document.querySelector('.search');

    input.addEventListener('input', () => {
        const currentValue = input.value;

        if (currentValue === lastValue) return;
        lastValue = currentValue;

        clearTimeout(debounce_timeout);
        debounce_timeout = setTimeout(() => {
            search_page = 1;
            document.querySelector('.search-results .comp-container').innerHTML = '';
            search_done_loading = false;
            document.querySelector('.search-results').style.display = 'none';
            document.querySelector('.loading-skeleton-comps-container').style.display = 'flex';
            document.querySelector('.loading-bar-container').style.display = 'none';
            search(search_page);
        }, 300);
    });
</script>
{% endblock %}