<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <title>Psych Sheet</title>
        <link rel="stylesheet" href="../static/psych.css">
    </head>
    <body>

    {% extends "base.html" %}

    {% block content %}

    <h1 class="title">Psych Sheet</h1>
        
    <input type="text" placeholder="Search Competitions" class="search" autocomplete="off">

    <div class="search-results">
        <div class="comp-container"></div>
    </div>

    <div class="comps-list">
        {% for when, comps in comps.items() %}
            {% if comps %}
                <h1>{{ when.capitalize() }} Competitions</h1>
                <div class="comp-container" {% if when == 'upcoming' %} id="upcoming-comps" {% endif %}>
                {% for comp in comps %}
                    <a href="{{ url_for('psych_sheet', comp=comp.id) }}">
                        <div class="comp-button">
                            <div class="flag">{{ comp.flag }}</div>
                            <div class="comp-button-text">
                                <p class="comp-name">{{ comp.name }}</p>
                                <p class="comp-details">{{ comp.date }} - {{ comp.city }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

        <div class="loading-main">
            <div class="loading-container">
                <div class="loading-bar">
                    <div class="loading-bar-inner"></div>
                </div>
            </div>
            <h2 class="no-more-comps">No More Competitions</h2>
        </div>

        <div class="loading-search">
            <div class="loading-container-s">
                <div class="loading-bar">
                    <div class="loading-bar-inner"></div>
                </div>
            </div>
            <h2 class="no-results">No Competitions Found</h2>
            <h2 class="no-more-comps-s">No More Competitions</h2>
        </div>
        
        <script>
            var windows = false;

            function flag_supported() {
                const canvas = document.createElement("canvas");
                canvas.width = canvas.height = 16;
                const ctx = canvas.getContext("2d");
                ctx.textBaseline = "top";
                ctx.font = "16px Arial";
                ctx.fillText("🇺🇸", 0, 0);

                const data = ctx.getImageData(0, 0, 16, 16).data;

                return Array.from(data).some(channel => channel != 0);
            }


            document.addEventListener("DOMContentLoaded", function () {
                var supported = false;

                if (!supported) {
                    windows = true;

                    twemoji.parse(document.body, {
                        folder: 'svg',
                        ext: '.svg'
                    });
                }
            });

            let currentSearchQuery = "";

            var page = 2;

            var search_done_loading = false;

            document.querySelector('.no-more-comps').style.display = 'none';
            document.querySelector('.loading-container').style.display = 'block';
            document.querySelector('.loading-search').style.display = 'none';
            document.querySelector('.search-results ').style.display = 'none';
            document.querySelector('.loading-main').style.display = 'block';
            document.querySelector('.no-results').style.display = 'none';

            get_more_comps(page);

            function get_more_comps(page) {
                fetch('/psych_sheet/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: new URLSearchParams({
                        'page': page,
                        'type': 'm'
                    })
                })
                .then(res => res.json())
                .then(comps => {
                    if (comps.length === 0) {
                        document.querySelector('.loading-container').style.display = 'none';
                        document.querySelector('.no-more-comps').style.display = 'block';
                        return;
                    }
            
                    for (var index = 0; index < comps.length; index++) {
                        var comp = comps[index];
            
                        var comps_html = `
                            <a href="/psych_sheet/${comp.id}">
                                <div class="comp-button">
                                    <div class="flag">${ comp.flag }</div>
                                    <div class="comp-button-text">
                                        <p class="comp-name">${comp.name}</p>
                                        <p class="comp-details">${comp.date} - ${comp.city}</p>
                                    </div>
                                </div>
                            </a>
                        `;
            
                        $('#upcoming-comps').append(comps_html);
                    }

                    if (windows) {
                        windows = true;
                        
                        twemoji.parse(document.body, {
                            folder: 'svg',
                            ext: '.svg'
                        });
                    }
                    
                    page += 1;
                    get_more_comps(page);
                })
                .catch(error => {
                    get_more_comps(page)
                });
            }
            

            function search(page) {
                if (search_done_loading) return;

                search_done_loading = true;

                document.querySelector('.loading-main').style.display = 'none';
                document.querySelector('.loading-search').style.display = 'block';
                document.querySelector('.no-results').style.display = 'none';


                const query = document.querySelector('.search').value.trim();
                currentSearchQuery = query;

                document.querySelector('.no-more-comps-s').style.display = 'none';
                document.querySelector('.loading-container-s').style.display = 'block';

                if (!query) {
                    document.querySelector('.comps-list').style.display = 'block';
                    document.querySelector('.search').classList.remove('search-active');
                    document.querySelector('.search').classList.remove('search-results-active');
                    document.querySelector('.loading-search').style.display = 'none';
                    document.querySelector('.loading-main').style.display = 'block';
                    document.querySelector('.search-results').style.display = 'none';
                    search_done_loading = false;
                    return;
                }

                document.querySelector('.search').classList.add('search-active');
                document.querySelector('.search').classList.add('search-results-active');
                document.querySelector('.comps-list').style.display = 'none';

                const resultsDiv = document.querySelector('.search-results');
        
                fetch('/psych_sheet/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: new URLSearchParams({
                        'search': query,
                        'page': page,
                        'type': 's'
                    })
                })
                .then(res => res.json())           
                .then(data => {
                    if (query !== currentSearchQuery) {
                        return;
                    }
                    
                    if (Array.isArray(data) && data.length > 0) {
                        const comps_html = data.map(comp => `
                            <a href="/psych_sheet/${comp.id}">
                                <div class="comp-button">
                                    <div class="flag">${ comp.flag }</div>
                                    <div class="comp-button-text">
                                        <p class="comp-name">${comp.name}</p>
                                        <p class="comp-details">${comp.date} - ${comp.city}</p>
                                    </div>
                                </div>
                            </a>
                        `).join("");
                

                        resultsDiv.querySelector('.comp-container').innerHTML += comps_html;
                        document.querySelector('.search-results').style.display = 'block';
                        document.querySelector('.loading-container-s').style.display = 'block';

                        search_done_loading = false;

                        if (windows) {
                            windows = true;
                            
                            twemoji.parse(document.body, {
                                folder: 'svg',
                                ext: '.svg'
                            });
                        }

                        page += 1

                        search(page)
                    } else {
                        if (page === 1) {
                            document.querySelector('.no-results').style.display = 'block';
                            document.querySelector('.search-results').style.display = 'none';
                            document.querySelector('.no-more-comps-s').style.display = 'none';
                        } else {
                            document.querySelector('.no-more-comps-s').style.display = 'block';
                            document.querySelector('.no-results').style.display = 'none';
                        }

                        search_done_loading = true;
                        document.querySelector('.loading-container-s').style.display = 'none';
                    }
                })
                .catch(error => {
                    search(page)
                });
            }

            let debounce_timeout;
            let lastValue = "";

            const input = document.querySelector('.search');

            input.addEventListener('input', () => {
                const currentValue = input.value;

                if (currentValue === lastValue) return;
                lastValue = currentValue;

                clearTimeout(debounce_timeout);
                debounce_timeout = setTimeout(() => {
                    search_page = 1;
                    document.querySelector('.search-results .comp-container').innerHTML = '';
                    search_done_loading = false;
                    document.querySelector('.search-results').style.display = 'none';
                    search(search_page);
                }, 300);
            });
        </script>

        {% endblock %}
    </body>
</html>
